@import url('https://fonts.googleapis.com/css2?family=Inter+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital,wght@0,400;1,400&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Define font families globally */
  --font-inter-display: 'Inter Display', sans-serif;
  --font-instrument-serif: 'Instrument Serif', serif;
}

@theme {
  /* You can extend theme tokens for Tailwind usage */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Map the fonts to Tailwind theme variables */
  --font-inter-display: var(--font-inter-display);
  --font-instrument-serif: var(--font-instrument-serif);
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4{
  font-family: var(--font-inter-display);
 /* font-family: var(--font-instrument-serif);  */
}


body {

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.navLink{
  display: block;
  padding: 10px;
}

.navLink:hover{
  border-bottom: 1px solid #000;
}

.navLinkFooter{
  display: inline;
}

.navLinkFooter:hover{
  border-bottom: 1px solid #000;
}

.whyMotorpedia{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

@media (max-width: 640px) {
  .whyMotorpedia {
    grid-template-columns: 1fr; /* full width on small screens */
  }
}
